body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arvo', serif;
  color: #000;
}

body {
    padding-top: 50px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    .carousel .carousel {
        height: 70%;
    }
}

.center-text
{
    text-align: center;
}

.navbar{
    background-color: #0c9b48;
    border: none;
    padding: 25px 0px 25px 0px;
} 

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
    font-size: 24px;
    color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a:hover{
    font-size: 24px;
    color: #cecece;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a:active{
    font-size: 24px;
    color: #CECECE;
}

.main
{
    margin-top: 25px;
}

.panel-default {
    border-color: #0c9b48;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #0c9b48;
    border-color: #0c9b48;
}

.btn-default {
    color: #FFF;
    background-color: #0c9b48;
    border-color: #0c9b48;
}

.btn-default:hover {
    color: #FFF;
    background-color: #085126;
    border-color: #085126;
}

.btn-default:focus, .btn-default:active {
    color: #FFF;
    background-color: #085126;
    border-color: #085126;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover
{
    color: #FFF;
    background-color: #085126;
    border-color: #085126;
}

.well {
    border: 1px solid #0c9b48;
}

.paralaxCaption
{
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
}

.slogan
{
    text-transform: uppercase;
    color: #0c9b48;
}

.slogan span
{
    text-transform: lowercase;
    color: #00471d;
    font-size: 24px;
}

.buttoninpanel
{
  margin-top: 100px;
  border-top: 1px solid #b5cebe; 
  padding-top: 20px;
}

/**
 *
 * Parallax background
 *
 */
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/img_parallax.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/img_parallax2.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("../images/img_parallax3.jpg");
  min-height: 400px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/**
 *
 * Custom grids
 *
 */

.custom-col-lg-2
{
    width: 16.66666667%;
}

/* Footer Styles */

footer {
    background-color: #0c9b48;
    color: #000;
    margin: 0px;
    padding: 0px;
}

.footer-container
{
  padding-top: 20px;
  font: normal 16px sans-serif;
}

.footer-center
{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-right 
{
  color: #fff;
  margin: 0px;
  padding: 0px;
}

.footer-right ul 
{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer-right ul li i
{
  margin: 0px;
  width: 20px;
  height: 20px;
}

.footer-right ul li
{
  margin: 0px;
  text-align: center;
  display: inline-block;
}

.footer-right ul li a{
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 90px;
    margin-left: 0px;
    padding: 10px;
}

.footer-left
{
  color: #fff;
}

.footer-left h3
{
  color: #fff;
  font: normal 36px 'Cookie', cursive;
}

footer p.footer-links a{
    font-size:18px;
    font-weight: bold;
    color:  #FFF;
    padding: 0;
}

.footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-center p{
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-center a
{
  color: #FFF;
  text-decoration: none;
}